a {
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  border: solid 2px white;
  border-radius: 15px;
  padding: 10px;
}

p {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.submit {
  padding: 5px 0;
  background-color: white;
  border: 0;
  border-radius: 5px;
}
